.playing-card-red {
  font-size: 200px;
  cursor: pointer;
  color: red;

  padding: 0px;

  width: 140px;

  display: flex;

  border: 1px solid black;
  background: whitesmoke;

  border-radius: 5px;
}

.discard-stack-set {
  display: flex;
}

.playing-card-black {
  font-size: 200px;
  cursor: pointer;
  color: black;

  padding: 0px;

  width: 140px;

  display: flex;

  border: 1px solid black;
  background: whitesmoke;

  border-radius: 5px;
}

.categorization-board {
  border: 1px solid black;

  display: flex;
}
