html,
body {
  background: #7a827e;
}
.playing-card-red {
  font-size: 230px;
  cursor: pointer;
  color: red;

  margin-left: 5px;
  margin-right: 5px;

  width: 160px;

  display: flex;

  border: 1px solid black;
  background: ivory;

  border-radius: 5px;
}

.heading-div {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  font-family: sans-serif;

  font-size: 30px;
  padding-top: 30px;
}

.discard-stack-set {
  display: flex;
}

.categorization-board .playing-card-black {
  margin-top: -150px;
}

.categorization-board .playing-card-red {
  margin-top: -150px;
}

.playing-card-black {
  font-size: 230px;
  cursor: pointer;
  color: black;

  margin-left: 5px;
  margin-right: 5px;
  width: 160px;

  display: flex;

  border: 1px solid black;
  background: ivory;

  border-radius: 7px;
}

.categorization-board {
  border: 1px solid black;

  padding-top: 200px;

  display: flex;
  justify-content: space-around;
}

.suit-stack {
  display: flex;
  margin: 10px;
}
.top-half-game-board {
  display: flex;
  justify-content: space-between;
}

.categorize-pile {
  width: 200px;
}

.symbol-span {
  background: ivory;
  border: 1px solid black;
  border-radius: 7px;
}
