.playing-card-red {
  font-size: 200px;
  cursor: pointer;
  color: red;

  padding: 0px;

  width: 140px;

  display: flex;

  border: 1px solid black;
  background: whitesmoke;

  border-radius: 5px;
}

.discard-stack-set {
  display: flex;
}

.categorization-board .playing-card-black {
  margin-top: -150px;
}

.categorization-board .playing-card-red {
  margin-top: -150px;
}

.playing-card-black {
  font-size: 200px;
  cursor: pointer;
  color: black;

  padding: 0px;

  width: 140px;

  display: flex;

  border: 1px solid black;
  background: whitesmoke;

  border-radius: 5px;
}

.categorization-board {
  border: 1px solid black;

  padding-top: 200px;

  display: flex;
}

.suit-stack {
  display: flex;
  margin: 10px;
}
.top-half-game-board {
  display: flex;
  justify-content: space-between;
}

.categorize-pile {
  width: 300px;
}

.symbol-span {
  background: whitesmoke;
  border: 1px solid black;
  border-radius: 7px;
}
